<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <h3 align="center">Application</h3>
        <table align="center">
            <tbody>
            <tr><td>Username:<input type="text" name="name"></td></tr>
            <tr><td>Password:<input type="password" name="pwd"><br></td></tr>
            <tr><td>Confirm:<input type="password" name="cpwd"><br></td></tr>
            <tr><td align="center"><input align="center" type="submit" value="Submit"><input align="center" type="reset" value="Reset"></td></tr>
            </tbody>
        </table>
    </form>
</body>
</html>